<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SaudeMed.Properties.Settings.StringConexaoBDSaudeMed"
            connectionString="Data Source=Casa;Initial Catalog=BDSAUDEMED;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
